@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700;800&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@500&family=PT+Sans:ital@1&family=Roboto&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700;800&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@500&family=PT+Sans:ital@1&family=Roboto&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700;800&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@500&family=PT+Sans:ital@1&family=Roboto&family=Rubik:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Heebo:wght@700;800&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@500&family=PT+Sans:wght@700&family=Poppins:ital,wght@1,500&family=Roboto&family=Rubik:wght@500&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


body {
    background: rgb(68,148,204);
    background: linear-gradient(0deg, rgba(68,148,204,1) 13%, rgba(240,240,240,1) 82%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}




#quizTitle {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(41, 211, 234);
    font-size: 66px;
    position: relative;
    left: -100px;
    text-shadow: 2px 1px 5px #2b2a2a;

}

#deskriptionContainer {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 300px;
}



#deskription {
    background: rgb(163, 112, 29);
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius:1.25rem;
    font-family: 'Secular One', sans-serif;
    -webkit-filter: drop-shadow(1px 1px 4px rgb(81, 81, 81));
    filter: drop-shadow(1px 1px 4px rgb(78, 78, 78));
    color: rgb(255, 255, 255);
    font-size: 45px;
    
}

#chain {
    float: left;
    width: 150px;
    height: 165px;
    margin-top: -40px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

#theQuiz {
    text-align: right;
    margin-right: 2%;
    font-size: 35px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(32, 32, 32);
}

input[type=radio] {
    width: 22px;
    height: 22px;
}

#sendButton, #sendButton2, 
#sendButton3, #sendButton4,
#sendButton5, #sendButton6,
#sendButton7, #sendButton8,
#sendButton9, #sendButton10 {
    width: 150px;
    height: 50px;
    margin-right: 21px;
    font-size: 30px;
    background-color: rgb(25, 252, 25);
    border: 4px solid black;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 24px;
    transition: all 0.4s ease 0s;
}

#sendButton:hover, #sendButton2:hover, 
#sendButton3:hover, #sendButton4:hover,
#sendButton5:hover, #sendButton6:hover,
#sendButton7:hover, #sendButton8:hover,
#sendButton9:hover, #sendButton10:hover {
    background-color: rgb(27, 196, 27);
    font-size: 37px;
    width: 157px;
    height: 57px;
}




#buttonEnd {
    text-align: center;

}

#endButton {
    width: 175px;
    height: 60px;
    margin-right: 21px;
    font-size: 40px;
    background-color: rgb(180, 25, 25);
    border: 3px solid black;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

#benGvir {
    
    text-align: center;
    width: 800px;
    height: 350;
    margin-left: 24.5%;
}

#resultText {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(11, 255, 48);
    font-size: 100px;
    position: relative;
    left: -100px;
}

#resultTitle {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 161, 47);
    font-size: 125px;
    position: relative;
    left: -100px;
    text-decoration: underline;     
    text-decoration-color: black;  
}

#resultDeskription{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(75, 64, 51);
    font-size: 75px;
    margin-left: -140px;
}

#gigaGvir {
    
    text-align: center;
    width: 600px;
    height: 700px;
    margin-left: 34.5%;
}

#nitzanLeft{
    text-align: center;
    width: 600px;
    height: 500px;
    margin-left: 29.5%;
}

#ahmed {
    text-align: center;
    width: 700px;
    height: 500px;
    margin-left: 29.5%;
}


#imgContanier{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    place-items: center;
    align-items: center;
}

#hasbullaImage{
    width: 575px;
    box-shadow: 2px 2px 5px 3px #2b2a2a;
    border: 3px solid black;
    border-radius: 6px;
    position: relative;
    left: -90px;
}