@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

body{
    background-image: linear-gradient(to top, #11c290 0%, #6cc1f2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#imgContainer1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title{
    width: 500px;
    height: 300px;
    margin-top: -50px;
    margin-bottom: -50px;
}


#titleLine{
    height: 5px;
    width: 100%;
    background-color: rgb(58, 57, 57);
    box-shadow: 1px 1px 2px 1px;
}


#gameDescribe{
    margin-top: 100px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    color: rgb(39, 39, 39);
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2.5px solid black;
    border-radius: 52px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}

#gameStart{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#startBtn{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 4.3px solid black;
    border-radius: 30px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 45px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 48px;
    font-family: 'Secular One', sans-serif;
    margin-top: 10px;


}

#startBtn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}


#game{
    
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#situation{
    
    text-align: center;
    font-size: 45px;
    font-family: 'Rubik', sans-serif;
    margin-top: 142px;
    margin-bottom: 86px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#button1,
#button2,
#button3,
#button4{
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: rgba(5, 5, 5, 0.593) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin: 20px;
}

#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


#restratBtn{
    display: none;
    appearance: button;
    background-color: #172be4;
    border: 4px solid black;
    border-radius: 16px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: din-round,sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px; 
    overflow: visible;
    padding: 27px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    white-space: nowrap;
    font-size: 65px;
}



#restratBtn:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#winBtn{
    display: none;
    appearance: button;
    background-color: #0f5c1c;
    border: 4px solid black;
    border-radius: 16px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: din-round,sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px; 
    overflow: visible;
    padding: 27px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    white-space: nowrap;
    font-size: 65px;
    text-decoration: none;
}

#winBtn:link{
    text-decoration: none;
}


#winBtn:hover{
    text-decoration: none;
}








